In [8]:
# Import package
import pandas as pd
import numpy as np

In [9]:
# Read data
df = pd.read_csv('interplanetary-parsed.csv')

In [14]:
# Parse data and add countries
agency2country = {'cnsa': 'China', 'esa': 'EU', 'isro': 'India', 'jaxa': 'Japan', 'nasa': 'USA', 'roscosmos': 'Russia', 'soviet': 'Soviet Union'}
agencies = list(df.agency)
countries = [agency2country[agency] for agency in agencies]
df['country'] = countries

In [19]:
# Save the data
df.to_csv('interplanetary-parsed-with-country.csv', index_label=False, index=False)

In [33]:
# Get the data by destination
df_by_dest = {}

dests = list(np.unique(df.to))
for country in agency2country.values():
    df_by_dest[country] = df[df['country'] == country]

['(101955) Bennu',
 '(132524) APL',
 '(162173) 1999 JU3',
 '(21) Lutetia',
 '(243) Ida',
 '(25143) Itokawa',
 '(2867) &#352;teins',
 '(4179) Toutatis',
 '(433) Eros',
 '(5535) Annefrank',
 '(951) Gaspra',
 '(9969) Braille',
 '103P/Hartley',
 '19P/Borrelly',
 '1P/Halley',
 '2014 MU69',
 '21P/Giacobini-Zinner',
 '26P/Grigg-Skjellerup',
 '2P/Encke',
 '67P/Churyumov-Gerasimenko',
 '73P/Schwassmann-Wachmann',
 '81P/Wild',
 '9P/Tempel',
 'ceres',
 'earth',
 'heliopause',
 'heliopause1',
 'heliopause2',
 'heliopause3',
 'heliopauseb',
 'jupiter',
 'mars',
 'mercury',
 'neptune',
 'pluto',
 'saturn',
 'titan',
 'uranus',
 'venus',
 'vesta']

In [31]:
# Save the data by destination

{'China':           name  success     type   from               to    object  \
 150  Yinghuo-1    False  towards  earth             mars    planet
 159  Chang'e 2     True    flyby  earth  (4179) Toutatis  asteroid

          launch      finish cospar agency country
 150  2011-11-08  2012-01-15    NaN   cnsa   China
 159  2010-10-01         NaN    NaN   cnsa   China  ,
 'EU':                           name  success     type                from  \
 87                      Giotto     True    flyby               earth
 88                      Giotto     True    flyby           1P/Halley
 100                    Ulysses     True    flyby               earth
 114               Mars Express     True    orbit               earth
 115               Mars Express    False   lander                mars
 118                    Rosetta     True    flyby               earth
 119                    Rosetta     True    flyby                mars
 120                    Rosetta     True    flyby  (2867) &#352;teins
 121                    Rosetta     True    orbit        (21) Lutetia
 125              Venus Express     True    orbit               earth
 160  ExoMars Trace Gas Orbiter     True  ongoing               earth

                             to    object      launch      finish     cospar  \
 87                   1P/Halley  asteroid  1984-07-02  1986-03-14        NaN
 88        26P/Grigg-Skjellerup  asteroid  1986-03-14  1992-07-10        NaN
 100                    jupiter    planet  1990-10-06  2009-06-30        NaN
 114                       mars    planet  2003-06-02  2003-12-25        NaN
 115                       mars    planet  2003-12-25  2003-12-25        NaN
 118                       mars    planet  2004-03-02  2007-02-25        NaN
 119         (2867) &#352;teins  asteroid  2007-02-25  2008-09-05        NaN
 120               (21) Lutetia  asteroid  2008-09-05  2010-07-10        NaN
 121  67P/Churyumov-Gerasimenko  asteroid  2010-07-10  2014-08-06        NaN
 125                      venus    planet  2005-11-09  2015-01-18        NaN
 160                       mars    planet  2016-03-14         NaN  2016-017A

     agency country
 87     esa      EU
 88     esa      EU
 100    esa      EU
 114    esa      EU
 115    esa      EU
 118    esa      EU
 119    esa      EU
 120    esa      EU
 121    esa      EU
 125    esa      EU
 160    esa      EU  ,
 'India':                      name  success   type   from    to  object      launch  \
 152  Mars Orbiter Mission     True  orbit  earth  mars  planet  2013-11-05

     finish cospar agency country
 152    NaN    NaN   isro   India  ,
 'Japan':                     name  success     type             from  \
 89                Suisei     True    flyby            earth
 90                Suisei    False    flyby        1P/Halley
 110    Nozomi (Planet-B)    False  towards            earth
 146  Akatsuki (Planet-C)    False    orbit            earth
 147  Akatsuki (Planet-C)     True    orbit            venus
 154             Hayabusa     True    orbit            earth
 155             Hayabusa    False   lander  (25143) Itokawa
 156             Hayabusa     True   lander  (25143) Itokawa
 157           Hayabusa 2     True    flyby            earth
 158           Hayabusa 2     True  ongoing            earth

                        to    object      launch      finish     cospar agency  \
 89              1P/Halley  asteroid  1985-08-19  1985-08-19        NaN   jaxa
 90   21P/Giacobini-Zinner  asteroid  1985-08-19  1998-11-24        NaN   jaxa
 110                  mars    planet  1998-07-03  2003-12-14        NaN   jaxa
 146                 venus    planet  2010-05-20  2010-12-06  2010-020D   jaxa
 147                 venus    planet  2010-12-06  2015-12-07  2010-020D   jaxa
 154       (25143) Itokawa  asteroid  2003-05-09  2005-10-04        NaN   jaxa
 155       (25143) Itokawa  asteroid  2005-10-04  2005-11-19        NaN   jaxa
 156                 earth    planet  2005-11-19  2010-06-13        NaN   jaxa
 157                 earth    planet  2014-12-03  2015-12-03  2014-076A   jaxa
 158     (162173) 1999 JU3  asteroid  2015-12-03     2018-06  2014-076A   jaxa

     country
 89    Japan
 90    Japan
 110   Japan
 146   Japan
 147   Japan
 154   Japan
 155   Japan
 156   Japan
 157   Japan
 158   Japan  ,
 'USA':                                     name  success     type              from  \
 4                              Mariner 1    False  towards             earth
 5                              Mariner 2     True    flyby             earth
 16                             Mariner 3    False  towards             earth
 17                             Mariner 4     True    flyby             earth
 25                             Mariner 5     True    flyby             earth
 29                             Mariner 6     True    flyby             earth
 31                             Mariner 7     True    flyby             earth
 35                             Mariner 8    False  towards             earth
 41                             Mariner 9     True    orbit             earth
 42                            Pioneer 10     True    flyby             earth
 43                            Pioneer 10     True  ongoing           jupiter
 46                            Pioneer 11     True    flyby             earth
 47                            Pioneer 11     True    flyby           jupiter
 48                            Pioneer 11     True  ongoing            saturn
 53                            Mariner 10     True    flyby             earth
 54                            Mariner 10     True    flyby             venus
 55                            Mariner 10     True    flyby           mercury
 56                            Mariner 10     True    flyby           mercury
 61                              Viking 1     True   lander             earth
 62                              Viking 2     True   lander             earth
 63                             Voyager 2     True    flyby             earth
 64                             Voyager 2     True    flyby           jupiter
 65                             Voyager 2     True    flyby            saturn
 66                             Voyager 2     True    flyby            uranus
 67                             Voyager 2     True  ongoing           neptune
 68                             Voyager 1     True    flyby             earth
 69                             Voyager 1     True    flyby           jupiter
 70                             Voyager 1     True  ongoing            saturn
 71                 Pioneer Venus Orbiter     True    orbit             earth
 72               Pioneer Venus Probe Bus     True   lander             earth
 ..                                   ...      ...      ...               ...
 113                         Mars Odyssey     True    orbit             earth
 116                       Spirit (MER-A)     True    rover             earth
 117                  Opportunity (MER-B)     True    rover             earth
 122                            MESSENGER     True    flyby             earth
 123                            MESSENGER     True    orbit             venus
 124          Mars Reconnaissance Orbiter     True    orbit             earth
 126                         New Horizons     True    flyby             earth
 127                         New Horizons     True    flyby      (132524) APL
 128                         New Horizons     True    flyby           jupiter
 129                         New Horizons     True  ongoing             pluto
 130                         New Horizons     True  ongoing         2014 MU69
 131                              Phoenix     True   lander             earth
 132                                 Dawn     True    flyby             earth
 133                                 Dawn     True    orbit              mars
 134                                 Dawn     True    orbit             vesta
 135                                 NEAR     True    orbit             earth
 136                         Deep Space 1     True    flyby             earth
 137                         Deep Space 1     True    orbit    (9969) Braille
 138                              CONTOUR    False    flyby             earth
 139                              CONTOUR    False    flyby          2P/Encke
 140                          Deep Impact     True    flyby             earth
 141                          Deep Impact     True    flyby         9P/Tempel
 142                             Stardust     True    flyby             earth
 143                             Stardust     True    flyby  (5535) Annefrank
 144                             Stardust     True   lander          81P/Wild
 145                             Stardust     True    flyby             earth
 148                                 Juno     True    orbit             earth
 151  Curiosity (Mars Science Laboratory)     True    rover             earth
 153                                MAVEN     True    orbit             earth
 161                           OSIRIS-REx     True  ongoing             earth

                            to    object      launch      finish     cospar  \
 4                       venus    planet  1962-07-22  1962-07-22        NaN
 5                       venus    planet  1962-08-27  1963-01-03        NaN
 16                       mars    planet  1964-11-05  1964-11-05        NaN
 17                       mars    planet  1964-11-28  1967-12-21        NaN
 25                      venus    planet  1967-06-14  1967-11-01        NaN
 29                       mars    planet  1969-02-25         NaN        NaN
 31                       mars    planet  1969-03-27         NaN        NaN
 35                       mars    planet  1971-05-08  1971-05-08        NaN
 41                       mars    planet  1971-05-30  1972-10-27        NaN
 42                    jupiter    planet  1972-03-03  1973-12-04        NaN
 43                 heliopause  asteroid  1973-12-04         NaN        NaN
 46                    jupiter    planet  1973-04-06  1974-12-03        NaN
 47                     saturn    planet  1974-12-03  1979-09-01        NaN
 48                heliopauseb  asteroid  1979-09-01         NaN        NaN
 53                      venus    planet  1973-11-03  1974-02-05        NaN
 54                    mercury    planet  1974-02-05  1974-03-29        NaN
 55                    mercury    planet  1974-03-29  1974-09-21        NaN
 56                    mercury    planet  1974-09-21  1975-03-16        NaN
 61                       mars    planet  1975-08-20  1980-08-17        NaN
 62                       mars    planet  1975-09-09  1980-04-11        NaN
 63                    jupiter    planet  1977-08-20  1979-07-09        NaN
 64                     saturn    planet  1979-07-09  1981-08-26        NaN
 65                     uranus    planet  1981-08-26  1986-01-24        NaN
 66                    neptune    planet  1986-01-24  1989-08-25        NaN
 67                heliopause2  asteroid  1989-08-25         NaN        NaN
 68                    jupiter    planet  1977-09-05  1979-03-05        NaN
 69                     saturn    planet  1979-03-05  1980-11-12        NaN
 70                heliopause1  asteroid  1980-11-12         NaN        NaN
 71                      venus    planet  1978-05-20  1992-10-08        NaN
 72                      venus    planet  1978-08-08  1978-12-09        NaN
 ..                        ...       ...         ...         ...        ...
 113                      mars    planet  2001-04-07         NaN  2001-014A
 116                      mars    planet  2003-06-10  2010-03-22        NaN
 117                      mars    planet  2003-07-08         NaN        NaN
 122                     venus    planet  2004-08-03  2006-10-24        NaN
 123                   mercury    planet  2006-10-24  2011-03-18        NaN
 124                      mars    planet  2005-08-12         NaN  2005-029A
 126              (132524) APL  asteroid  2006-01-17  2006-06-13        NaN
 127                   jupiter    planet  2006-06-13  2007-02-28        NaN
 128                     pluto  asteroid  2007-02-28  2015-06-14        NaN
 129                 2014 MU69  asteroid  2015-06-14  2019-01-01        NaN
 130               heliopause3  asteroid  2019-01-01         NaN        NaN
 131                      mars    planet  2007-08-04  2008-11-10        NaN
 132                      mars    planet  2007-09-27  2009-02-17        NaN
 133                     vesta  asteroid  2009-02-17  2011-07-16        NaN
 134                     ceres  asteroid  2011-07-16  2015-03-06        NaN
 135                (433) Eros  asteroid  1996-02-17         NaN        NaN
 136            (9969) Braille  asteroid  1998-10-24  2001-09-22        NaN
 137              19P/Borrelly  asteroid  2001-09-22  2001-09-22        NaN
 138                  2P/Encke  asteroid  2002-07-02  2003-11-03        NaN
 139  73P/Schwassmann-Wachmann  asteroid  2003-11-03  2006-06-18        NaN
 140                 9P/Tempel  asteroid  2005-01-12  2005-07-04  2005-001A
 141              103P/Hartley  asteroid  2005-07-04  2010-11-04  2005-001A
 142          (5535) Annefrank  asteroid  1999-02-07  2002-11-02        NaN
 143                  81P/Wild  asteroid  2002-11-02  2004-01-02        NaN
 144                     earth    planet  2004-01-02  2006-01-15        NaN
 145                 9P/Tempel  asteroid  2006-01-15  2011-02-14        NaN
 148                   jupiter    planet  2011-08-05         NaN        NaN
 151                      mars    planet  2011-11-26         NaN        NaN
 153                      mars    planet  2013-11-18         NaN        NaN
 161            (101955) Bennu  asteroid  2016-09-08         NaN        NaN

     agency country
 4     nasa     USA
 5     nasa     USA
 16    nasa     USA
 17    nasa     USA
 25    nasa     USA
 29    nasa     USA
 31    nasa     USA
 35    nasa     USA
 41    nasa     USA
 42    nasa     USA
 43    nasa     USA
 46    nasa     USA
 47    nasa     USA
 48    nasa     USA
 53    nasa     USA
 54    nasa     USA
 55    nasa     USA
 56    nasa     USA
 61    nasa     USA
 62    nasa     USA
 63    nasa     USA
 64    nasa     USA
 65    nasa     USA
 66    nasa     USA
 67    nasa     USA
 68    nasa     USA
 69    nasa     USA
 70    nasa     USA
 71    nasa     USA
 72    nasa     USA
 ..     ...     ...
 113   nasa     USA
 116   nasa     USA
 117   nasa     USA
 122   nasa     USA
 123   nasa     USA
 124   nasa     USA
 126   nasa     USA
 127   nasa     USA
 128   nasa     USA
 129   nasa     USA
 130   nasa     USA
 131   nasa     USA
 132   nasa     USA
 133   nasa     USA
 134   nasa     USA
 135   nasa     USA
 136   nasa     USA
 137   nasa     USA
 138   nasa     USA
 139   nasa     USA
 140   nasa     USA
 141   nasa     USA
 142   nasa     USA
 143   nasa     USA
 144   nasa     USA
 145   nasa     USA
 148   nasa     USA
 151   nasa     USA
 153   nasa     USA
 161   nasa     USA

 [77 rows x 11 columns],
 'Russia':              name  success     type   from    to  object      launch  \
 103       Mars 96    False  towards  earth  mars  planet  1996-11-16
 149  Phobos-Grunt    False  towards  earth  mars  planet  2011-11-08

          finish cospar     agency country
 103  1996-11-17    NaN  roscosmos  Russia
 149  2012-01-15    NaN  roscosmos  Russia  ,
 'Soviet Union':             name  success     type   from         to    object      launch  \
 0        Mars 1M    False    flyby  earth       mars    planet  1960-10-10
 1        Mars 2M    False  towards  earth       mars    planet  1960-10-14
 2      Sputnik 7    False  towards  earth      venus    planet  1961-02-04
 3       Venera 1    False  towards  earth      venus    planet  1961-02-12
 6     Sputnik 20    False  towards  earth      venus    planet  1962-09-01
 7     Sputnik 21    False  towards  earth      venus    planet  1962-09-12
 8     Sputnik 22    False  towards  earth       mars    planet  1962-10-24
 9         Mars 1    False  towards  earth       mars    planet  1962-11-01
 10    Sputnik 24    False  towards  earth       mars    planet  1962-11-04
 11     Cosmos 21    False  towards  earth      venus    planet  1963-11-11
 12  Venera 1964A    False  towards  earth      venus    planet  1964-02-19
 13  Venera 1964B    False  towards  earth      venus    planet  1964-03-01
 14     Cosmos 27    False  towards  earth      venus    planet  1964-03-27
 15        Zond 1    False  towards  earth      venus    planet  1964-04-02
 18        Zond 2    False  towards  earth       mars    planet  1964-11-30
 19      Venera 2    False  towards  earth      venus    planet  1965-11-12
 20      Venera 3    False   lander  earth      venus    planet  1965-11-16
 21     Cosmos 96    False  towards  earth      venus    planet  1965-11-23
 22  Venera 1965A    False  towards  earth      venus    planet  1965-11-26
 23       Unnamed    False  towards  earth       mars    planet  1967-03-27
 24      Venera 4     True   lander  earth      venus    planet  1967-06-12
 26    Cosmos 167    False  towards  earth      venus    planet  1967-06-17
 27      Venera 5     True   lander  earth      venus    planet  1969-01-05
 28      Venera 6     True   lander  earth      venus    planet  1969-01-10
 30    Mars 1969A    False  towards  earth       mars    planet  1969-03-27
 32    Mars 1969B    False  towards  earth       mars    planet  1969-04-02
 33      Venera 7     True   lander  earth      venus    planet  1970-08-17
 34    Cosmos 359    False  towards  earth      venus    planet  1970-08-22
 36    Cosmos 419    False  towards  earth       mars    planet  1971-05-10
 37        Mars 2     True    orbit  earth       mars    planet  1971-05-19
 38        Mars 2    False   lander   mars       mars    planet  1971-11-27
 39        Mars 3     True    orbit  earth       mars    planet  1971-05-28
 40        Mars 3     True   lander   mars       mars    planet  1971-12-02
 44      Venera 8     True   lander  earth      venus    planet  1972-03-27
 45    Cosmos 482    False  towards  earth      venus    planet  1972-03-31
 49        Mars 4     True    flyby  earth       mars    planet  1973-07-21
 50        Mars 5     True    orbit  earth       mars    planet  1973-07-25
 51        Mars 6    False   lander  earth       mars    planet  1973-08-05
 52        Mars 7    False   lander  earth       mars    planet  1973-08-09
 57      Venera 9     True    orbit  earth      venus    planet  1975-06-08
 58      Venera 9     True   lander  venus      venus    planet  1975-10-20
 59     Venera 10     True    orbit  earth      venus    planet  1975-06-14
 60     Venera 10     True   lander  venus      venus    planet  1975-10-23
 73     Venera 11     True   lander  earth      venus    planet  1978-09-09
 74     Venera 12     True    flyby  earth      venus    planet  1978-09-14
 75     Venera 12     True   lander  venus      venus    planet  1978-12-21
 76     Venera 13     True    flyby  earth      venus    planet  1981-10-30
 77     Venera 13     True   lander  venus      venus    planet  1982-03-01
 78     Venera 14     True    flyby  earth      venus    planet  1981-11-04
 79     Venera 14     True   lander  venus      venus    planet  1982-03-05
 80     Venera 15     True    orbit  earth      venus    planet  1983-06-02
 81     Venera 16     True    orbit  earth      venus    planet  1983-06-07
 82        Vega 1     True    flyby  earth      venus    planet  1984-12-15
 83        Vega 1     True   lander  venus      venus    planet  1985-06-11
 84        Vega 1     True    flyby  venus  1P/Halley  asteroid  1985-06-11
 85        Vega 2     True    flyby  earth      venus    planet  1984-12-21
 86        Vega 2     True    flyby  venus  1P/Halley  asteroid  1985-06-15